<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Smart Home Solution</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--mega_menu-->
    <link rel="stylesheet" href="css/mega_menu.css">
    <!--slider-->
    <link rel="stylesheet" href="css/slider.css">
    <!-- animate -->
    <link rel='stylesheet prefetch' href='css/animate.min.css'>
    <!-- Owl Carousel Assets -->
    <link href="css/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="css/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- Scrollbar -->
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/my_style.css" rel="stylesheet">
    <link href="css/my_style_responsive.css" rel="stylesheet">
    <!-- google-font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!--drive_your_own_choice-->
    <div class="modal fade bs-example-modal-lg" id="drive_your_own_choice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body pt-0 pb-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="images/icon/close.png" class="img-responsive"> </button>

                    <div class="calculator-form row">
                        <div class="calculator-image-wrapper col-xs-12 col-sm-5 col-md-6 hidden-xs" style="min-height:500px;">&nbsp;</div>
                        <div class="calculator-content-wrapper col-xs-12 col-sm-7 col-md-6 pt-50">

                            <div class="drive_your_own_choice">
                                <h2 class="section-title">Drive your own Choice</h2>
                                <div class="introduction_detail">
                                    Offering various Type and multiple Automation Produts, we let you put a personal touch on your
                                    Dream Home..
                                </div>
                                <div class="btn_box text-center">
                                    <a class="blue_btn btn_min_width" href="calculator.html" target="_blank">Get Started</a>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--drive_your_own_choice-->
    <!--search_modal-->
    <div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="images/icon/close.png" width="31" height="30">
                    </button>
                    <div class="form-group">
                        <input class="form-control" placeholder="So, What are you looking for?" value="" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--search_modal_End-->
    <!--free_quote-->
    <div class="modal fade bs-example-modal-lg" id="free_quote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="images/icon/close.png" class="img-responsive"> </button>
                    <div class="section-header">
                        <h2 class="section-title">GET A FREE QUOTE</h2>
                    </div>
                    <p class="gray_bg">Fill out the form and our Specialist will contact you at the phone number provided.</p>

                    <div>
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" class="form-control" id="first-name" placeholder="e.g. Jane">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="last-name">Last Name:</label>
                                        <input type="text" class="form-control" id="last-name" placeholder="e.g. Doe">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="e.g. jane.doe@example.com">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="mobile">Mobile</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="e.g. 9313555527">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" name="message" id="message" rows="6" placeholder="Message"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <button type="submit" class="blue_btn">Submit <i class="fa fa-angle-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--free_quote-->
    <!--Sign_in_modal-->
    <div class="modal fade bs-example-modal-lg" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <img src="images/icon/close.png" class="img-responsive"> </button>
                    <div>
                        <div class="tab_section">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#sign_in" aria-controls="sign_in" role="tab"
                                       data-toggle="tab">Sign In</a>
                                </li>
                                <li role="presentation">
                                    <a href="#sign_up" aria-controls="sign_up" role="tab"
                                       data-toggle="tab">Sign Up</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="sign_in">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-6 col-xs-12 mid_vertical_border pt-20 pd-20">
                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Email</label>
                                                    <input type="email" class="form-control" id="exampleInputEmail2"
                                                           placeholder="jane.doe@example.com">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3">Password</label>
                                                    <input type="password" class="form-control" id="inputPassword3"
                                                           placeholder="Password">
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-common">
                                                        <input id="RememberMe" type="checkbox">
                                                        <label for="RememberMe"> Remember Me</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="blue_btn">Sign in <i class="fa fa-angle-right"></i></button>
                                                </div>
                                                <div class="help-block mg-t20"><a href="">Forget the password ?</a></div>
                                            </form>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <h4 class="mg-t0 mg-b10">Login with Social Site</h4>
                                            <div class="fb_btn">
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                    <lable>Sign in with Facebook</lable>
                                                </a>
                                            </div>
                                            <div class="twitter_btn">
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                    <lable>Sign in with Twitter</lable>
                                                </a>
                                            </div>
                                            <div class="email_btn">
                                                <a href="#">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <lable>Sign in with Email</lable>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--SHow-->
                                <div role="tabpanel" class="tab-pane fade" id="sign_up">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="first-name">First Name</label>
                                                    <input type="text" class="form-control" id="first-name" placeholder="e.g. Jane">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="last-name">Last Name:</label>
                                                    <input type="text" class="form-control" id="last-name" placeholder="e.g. Doe">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email" placeholder="e.g. jane.doe@example.com">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="mobile">Mobile</label>
                                                    <input type="text" class="form-control" id="mobile" placeholder="e.g. 9313555527">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label for="mobile">Address</label>
                                                    <input type="text" class="form-control" id="mobile" placeholder="e.g. Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password"
                                                           placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="ConfirmPassword">Confirm Password</label>
                                                    <input type="password" class="form-control" id="ConfirmPassword"
                                                           placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="blue_btn">Sign Up <i class="fa fa-angle-right"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <!--SHow-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Sign_in_modal_End-->
    <!--Header-->
    <nav class="navbar navbar-custom navbar-static-top" role="navigation">
        <div class="top_bar">
            <div class="container">
                <ul class="pull-left hidden-xs">
                    <li><i class="fa fa-mobile-phone"></i> <span class="text-uppercase">Need Help:</span> 995-823-1280 </li>
                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:sales@smarthomesolution.in">sales@smarthomesolution.in</a></li>
                </ul>
                <ul class="pull-right">
                    <li class="text-uppercase"><i class="fa fa-headphones"></i><a href="support.html">Support</a></li>
                    <li>|</li>
                    <li class="text-uppercase"><a href="#login_modal" data-toggle="modal" data-backdrop="static"><i class="fa fa-lock"></i>Sign in</a></li>
                    <li class="text-uppercase"><a href="#free_quote_modal" data-toggle="modal" data-backdrop="static" class="free_quote"><i class="fa fa-arrow-circle-right"></i>Free Quote</a></li>
                </ul>
            </div>
        </div>
        <div class="container position-relative">
            <div class="navbar-header"> <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="img-responsive"></a> </div>
            <div class="menu_outer">
                <ul class="search_cart_box">
                    <li class="search_box"><a href="#search_modal" data-toggle="modal" data-backdrop="static"><img src="images/icon/search_icon.png"></a></li>
                    <li class="cart_box pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <div class="img"><img src="images/icon/cart.png"> </div>
                            <div class="cart_detail"> Cart <span>9 iteams</span> </div>
                        </a>

                        <div class="dropdown-menu">
                            <div class="cart_container clearfix">
                                <div class="small-header">
                                    <h2 class="section-title">Selected Products</h2>
                                </div>

                                <div class="scrollbar_box mCustomScrollbar" data-mcs-theme="dark" style="">
                                    <!--item_list-->
                                    <div class="item_list">
                                        <div class="img_box">
                                            <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                        </div>
                                        <div class="item_detail">
                                            <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                            <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                            <ul class="price_box clearfix">
                                                <li>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="qty">QTY:</label>
                                                            <select name="qty" id="qty" class="form-control select_dropdown">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </li>
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--item_list_end-->
                                    <!--item_list-->
                                    <div class="item_list">
                                        <div class="img_box">
                                            <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                        </div>
                                        <div class="item_detail">
                                            <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                            <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                            <ul class="price_box clearfix">
                                                <li>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="qty">QTY:</label>
                                                            <select name="qty" id="qty" class="form-control select_dropdown">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </li>
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--item_list_end-->
                                    <!--item_list-->
                                    <div class="item_list">
                                        <div class="img_box">
                                            <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                        </div>
                                        <div class="item_detail">
                                            <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                            <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                            <ul class="price_box clearfix">
                                                <li>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="qty">QTY:</label>
                                                            <select name="qty" id="qty" class="form-control select_dropdown">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </li>
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--item_list_end-->
                                    <!--item_list-->
                                    <div class="item_list">
                                        <div class="img_box">
                                            <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                        </div>
                                        <div class="item_detail">
                                            <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                            <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                            <ul class="price_box clearfix">
                                                <li>
                                                    <form class="form-inline">
                                                        <div class="form-group">
                                                            <label for="qty">QTY:</label>
                                                            <select name="qty" id="qty" class="form-control select_dropdown">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </li>
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--item_list_end-->
                                </div>


                                <div class="total_box clearfix mt-10">
                                    <ul class="clearfix">
                                        <li>Tatal Payable</li>
                                        <li><i class="fa fa-rupee"></i> 20,999/-</li>
                                    </ul>
                                </div>

                                <div class="btn_box text-center mt-10"> <a href="shoping_cart.html" class="blue_btn btn-block"> Proceed to Checkout </a> </div>


                            </div>
                        </div>

                </ul>
                <ul class="jetmenu">
                    <!--Home Theatre -->
                    <li>
                        <a href="#">Home Theatre </a>
                        <div class="megamenu full-width">
                            <div class="my-row">
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Sound</h5>
                                        </li>
                                        <li><a href="#">AV Receivers</a></li>
                                        <li><a href="#">Floorspeakers</a></li>
                                        <li><a href="#">Centre</a></li>
                                        <li><a href="#">Surround</a></li>
                                        <li><a href="#">Sub-woofer</a></li>
                                        <li><a href="#">Ceiling Speaker</a></li>
                                        <li><a href="#">Soundbar</a></li>
                                        <li><a href="#">Outdoor</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Video</h5>
                                        </li>
                                        <li><a href="#">HD</a></li>
                                        <li><a href="#">4K</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Cloud Touch Flat Panel Display</a></li>
                                        <li><a href="#">Commercial TV</a></li>
                                        <li><a href="#">Spider Web</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Acoustics</h5>
                                        </li>
                                        <li><a href="#">HT-1</a></li>
                                        <li><a href="#">HT-2</a></li>
                                        <li><a href="#">HT-3</a></li>
                                    </ul>
                                </div>
                                <div class="col1">
                                    <ul>
                                        <li class="title">
                                            <h5>Custom Series</h5>
                                        </li>
                                        <li><a href="#">In Wall</a></li>
                                        <li><a href="#">In Cieling</a></li>
                                        <li class="title">
                                            <h5><a href="#">Wireless Products</a></h5>
                                        </li>
                                        <li class="title">
                                            <h5><a href="#">Media Server</a></h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col2" style="text-align:right;"> <img src="images/5.jpg"> </div>
                            </div>
                        </div>
                    </li>
                    <!--Home Theatre End -->
                    <!--Home Security -->
                    <li>
                        <a href="#">Home Security</a>
                        <ul class="dropdown">
                            <li><a href="#">Network Cameras</a></li>
                            <li>
                                <a href="#">Video Recorder</a>
                                <ul class="dropdown">
                                    <li><a href="#">Bullet</a></li>
                                    <li><a href="#">DOME</a></li>
                                    <li><a href="#">PTZ</a></li>
                                    <li><a href="#">Wi-Fi</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Digital Locks</a></li>
                            <li><a href="#">VDP</a></li>
                            <li><a href="#">Motion Sensor</a></li>
                        </ul>
                    </li>

                    <!--Home Security End -->
                    <!--Home Automation -->
                    <li><a href="#">Home Automation</a></li>

                    <!--Home Automation End -->

                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="topband_shadow">&nbsp;</div>
    </nav>
    <!--Header_End-->
    <!-- Full Page Image Background Carousel Header -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/slider/banner.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="animated fadeInDown">Home Automation</h2>
                    <p class="animated fadeInUp">
                        A Touch of Convenience, Comfort and<br>
                        Energy efficiency...
                    </p>

                    <p class="animated fadeInUp">
                        <!--<a href="#" class="blue_btn"> Shop Now <i class="fa fa-angle-right"></i></a>-->
                        <a href="#" class="white_btn"> Explore Now <i class="fa fa-angle-right"></i></a>
                    </p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/slider/banner2.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class="animated fadeInDown">Home Automation</h2>
                    <p class="animated fadeInUp">
                        A Touch of Convenience, Comfort and<br>
                        Energy efficiency...
                    </p>

                    <p class="animated fadeInUp">
                        <!--<a href="#" class="blue_btn"> Shop Now <i class="fa fa-angle-right"></i></a>-->
                        <a href="#" class="white_btn"> Explore Now <i class="fa fa-angle-right"></i></a>
                    </p>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </div>
    <!-- Full Page Image Background Carousel Header End -->
    <!--our_protuct_section_section_start -->
    <section class="our_protuct_section_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="main_category_box">
                        <div class="product-img">
                            <a href="listing.html">
                                <div class="section-header">
                                    <h2 class="section-title">Home Theatre</h2>
                                </div>
                                <img src="images/theatre_box.jpg" class="img-responsive center-block" alt="Home Theatre">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="main_category_box">
                        <div class="product-img">
                            <a href="#">
                                <div class="section-header">
                                    <h2 class="section-title">Home Security</h2>
                                </div>
                                <img src="images/security_box.jpg" class="img-responsive center-block" alt="Home Security">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="main_category_box">
                        <div class="product-img">
                            <a href="#">
                                <div class="section-header">
                                    <h2 class="section-title">Home Automation</h2>
                                </div>
                                <img src="images/automation_box.jpg" class="img-responsive center-block" alt="Home Automation">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our_protuct_section_section_End -->
    <!--our_top_sallers_section_Start -->
    <section class="our_top_sallers_section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Our Top Sallers</h2>
                <div class="owl_carousel_nav">
                    <a class="prev_btn prev"><img src="images/icon/prev.png"></a>
                    <a class="next_btn next"><img src="images/icon/next.png"></a>
                </div>
            </div>

            <div id="owl-top-sallers" class="owl-carousel clearfix">
                <div class="item_group">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="listing.html"><img src="images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box-->
                <!--product_box-->
                <div class="item_group ">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box-->
                <!--product_box-->
                <div class="item_group">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box-->
                <!--product_box-->
                <div class="item_group">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-4.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box-->
                <!--product_box-->
                <div class="item_group ">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box-->
                <!--product_box-->
                <div class="item_group">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-6.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>
                    </div>
                </div>
                <!--product_box-->
            </div>

            <div class="btn_box text-center">
                <a href="listing.html" class="blue_btn btn_min_width"> View All</a>
            </div>
        </div>
    </section>
    <!--our_top_sallers_Section_End -->
    <!--popular_prodiucts_section_Start -->
    <section class="popular_products_section">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title"><span>Pop</span>ular Products</h2>
                <div class="sorting_filter">
                    <a href="#" class="active">All</a> <a href="#">Home Theatre</a> <a href="#">Home Security</a> <a href="#">Home Automation</a>
                </div>

            </div>
            <div class="row">
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="listing.html"><img src="images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="#"><img src="images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="sale_lable">SALE</div>
                        <a href="#"><img src="images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="#"><img src="images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>
                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="listing.html"><img src="images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="#"><img src="images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="#"><img src="images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>

                        </ul>


                    </div>
                </div>
                <!--product_box_end-->
                <!--product_box-->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <a href="#"><img src="images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                        <div class="product_detail_box">
                            <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                            <div class="star_list">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p class="product_info">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                        <ul class="price_box row">
                            <li>
                                <span><i class="fa fa-rupee"></i> 85,000/-</span>
                                <i class="fa fa-rupee"></i> 70,000/-

                            </li>
                            <li class="text-center"><a href="#"><img src="images/icon/cart.png"></a> </li>
                        </ul>


                    </div>
                </div>
                <!--product_box_end-->

            </div>

            <div class="btn_box text-center">
                <a href="listing.html" class="blue_btn btn_min_width"> View All Products </a>
            </div>
    </section>
    <!--our_top_sallers_Section_End -->
    <!--drive_your_own_choice_section_start -->

    <section class="drive_your_own_choice_section">
        <div class="container">
            <h2 class="section-title">Drive your own Choice</h2>
            <div class="introduction_detail">
                Offering various Type and multiple Automation Produts, we let you put a personal touch on your
                Dream Home..
            </div>
            <div class="btn_box text-center">
                <a class="white_border_btn btn_min_width" href="calculator.html" target="_blank">Get Started</a>
            </div>
        </div>
    </section>
    <!--Khwahish_Introduction_section_End -->
    <!--Feature_brand_Section_Start -->
    <section class="feature_brand_section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Feature Brand</h2>
                <div class="owl_carousel_nav">
                    <a class="prev_btn prev"><img src="images/icon/prev.png"></a>
                    <a class="next_btn next"><img src="images/icon/next.png"></a>
                </div>
            </div>


            <div id="owl-logo-slider" class="owl-carousel owl-theme">

                <div class="item">
                    <a href="#"><img src="images/brands/epson.png" title="epson" alt="epson" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/jvc.png" title="jvc" alt="jvc" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/onkyo.png" title="onkyo" alt="onkyo" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/polkaudio.png" title="polkaudio" alt="polkaudio" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/sony.png" title="sony" alt="sony" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/epson.png" title="epson" alt="epson" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/jvc.png" title="jvc" alt="jvc" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/onkyo.png" title="onkyo" alt="onkyo" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/polkaudio.png" title="polkaudio" alt="polkaudio" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/sony.png" title="sony" alt="sony" class="img_border img-responsive"></a>
                </div>
                <div class="item">
                    <a href="#"><img src="images/brands/epson.png" title="epson" alt="epson" class="img_border img-responsive"></a>
                </div>

            </div>
        </div>
    </section>
    <section class="feature_brand_section"></section>
    <!--Feature_brand_Section_End -->
    <!--Coustomer_newsletter_Section_Start -->
    <!--<section class="coustomer_newsletter_section">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <div class="coustomer_speaks_section">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="section-header">
                                <h2 class="section-title">Coustomer Speaks...</h2>
                                <div class="carousel_control_box">
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <img src="images/icon/prev.png">
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <img src="images/icon/next.png">
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <div class="client_comment">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <p>1 We got our new house entire AV done from Solution Tree , I got my background wireless much done for 3 floors , 12 seater Home Theatre with acoustics in my basement ,along with the lounge with party music solution. Me and my family are extremely happy with the delivery and recommend them for there expertise in this field , especially the after sales response is quite impressive.</p>
                                        <p class="clent_name">-Nigam, <span>Noida</span></p>
                                    </div>

                                    <div class="item">
                                        <p>2 We got our new house entire AV done from Solution Tree , I got my background wireless much done for 3 floors , 12 seater Home Theatre with acoustics in my basement ,along with the lounge with party music solution. Me and my family are extremely happy with the delivery and recommend them for there expertise in this field , especially the after sales response is quite impressive.</p>
                                        <p class="clent_name">-Nigam, <span>Noida</span></p>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="subscribe_now_section">
                        <div class="section-header">
                            <h2 class="section-title">Subscribe To Newsletter</h2>
                        </div>
                        <h4>Get latest news &amp; update from</h4>
                        <h2>smarthomesolution.in</h2>
                        <div class="input-group">
                            <input class="form-control" placeholder="Enter Your Emil-id / Mobile Number" type="text">
                            <span class="input-group-btn">
                                <button class="subscribe_now_btn" type="button">Subscribe Now!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>-->
    <!--coustomer_newsletter_section_End -->
    <!--free_shipping_section-->
    <div class="free_shipping_section">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-4 col-sm-4 col-xs-12">
                    <i><img src="images/icon/free_shipping.png" alt="FreeShipping"></i>
                    <span><strong>Free Shipping</strong><br>On Orders Over $99</span>
                </div>-->
                <!--<div class="col-md-4 col-sm-4 col-xs-12">
                    <i><img src="images/icon/gift_icon.png" alt="FreeShipping"></i>
                    <span><strong>Extra Saving in Stores</strong><br>Give The Perfect Gift</span>
                </div>-->

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i><img src="images/icon/contct_icon.png" alt="FreeShipping"></i>
                    <span><strong>24/ 7 online support</strong><br>Anywhere worldwide</span>
                </div>


            </div><!-- /.row -->
        </div>
    </div>
    <!--free_shipping_section_End-->
    <!--Footer Section Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>
                        <a role="button" data-toggle="collapse" href="#footer_col_1" aria-expanded="false" aria-controls="collapseExample">
                            Site Link <span class="fa fa-angle-down pull-right"></span>
                        </a>
                    </h5>
                    <ul class="collapse" id="footer_col_1">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <!--<li><a href="#">Testimonials</a></li>-->
                        <li><a href="#">Contact Us</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <!--<li><a href="#">Careers</a></li>-->
                        <!--<li><a href="#">Press &amp; Media</a></li>-->
                        <li><a href="#">Disclaimer</a></li>
                    </ul>
                </div>


                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5>
                        <a role="button" data-toggle="collapse" href="#footer_col_2" aria-expanded="false" aria-controls="collapseExample">
                            Products <span class="fa fa-angle-down pull-right"></span>
                        </a>
                    </h5>
                    <ul class="collapse" id="footer_col_2">
                        <li><a href="#"> Home Theater</li>
                        <li><a href="#">Home Security</li>
                        <li><a href="#">Network Video Recorder</li>
                        <li><a href="#">Network Cameras</li>
                        <li><a href="#">Sensors</li>
                        <li><a href="#">Home Automation</li>
                        <li><a href="#">Curtain Control</li>
                    </ul>
                </div>


                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h5>
                        <a role="button" data-toggle="collapse" href="#footer_col_3" aria-expanded="false" aria-controls="collapseExample">
                            Customer Services <span class="fa fa-angle-down pull-right"></span>
                        </a>
                    </h5>
                    <ul class="collapse" id="footer_col_3">
                        <!--<li><a href="#">Need Help? Service Request</a></li>
                        <li><a href="#">How to Order</a></li>
                        <li><a href="#">Track your Package</a></li>
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>-->
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <h5 style="border:none;">
                        <a role="button" data-toggle="collapse" href="#footer_col_5" aria-expanded="false" aria-controls="collapseExample">
                            Contact Us<span class="fa fa-angle-down pull-right"></span>
                        </a>
                    </h5>
                    <div class="contact_detail_box collapse" id="footer_col_5">
                        <div class="address_section">
                            <h6>Noida Office</h6>
                            <p>The Home Store, Opp Pathways School, Sector 104, Noida, India.</p>
                        </div>

                        <div class="address_section">
                            <h6>Gurgaon Office</h6>
                            <p>811 , Sector 42 – Gurgaon</p>
                        </div>

                        <div class="address_section">
                            <h6>Panipat Office</h6>
                            <p>195-R Model Town panipat 132103, India.</p>
                            <span class=""><i class="fa fa-mobile"></i> 9958231280</span> <span class=""><i class="fa fa-envelope-o"></i> sale@smarthomesolution.in</span>
                        </div>


                    </div>

                </div>
            </div>
            <div class="paymet_box">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-5"> <h3>Paymet Mode</h3></div>
                        <div class="col-xs-12 col-sm-8 col-md-7"><img src="images/cards.png" class="img-responsive"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="fotter_info">
            <div class="container">
                <div class="row">
                    <!-- Footer Links -->
                    <div class="col-md-5 col-sm-4 col-xs-12">
                        <div class="footer-links">
                            <p> &copy; 2018 <span>www.smarthomesolution.in</span> All Right Reversed.</p>
                        </div>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="social-icons">
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                        <div class="copyright">
                            <p> Powered by : <a target="_blank" href="#">Smart Home Solution</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!--Footer Section End -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/mega_menu.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scroll-up').fadeIn();
            } else {
                $('.scroll-up').fadeOut();
            }
        });
        (function () {
            $(function () {
                /* ----------------------------------------------Scroll top---------------------------------------------- */
                $('a[href="#totop"]').click(function () {
                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                    return false;
                });
                $('#drive_your_own_choice').modal('show');
            });
        })(jQuery);
    </script>
</body>
</html>