@model List<SAPO.Brands>

<!--popular_prodiucts_section_Start -->
<section class="popular_products_section">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title"><span>Pop</span>ular Products</h2>
            <div class="sorting_filter">
                <a href="#" class="active">All</a> <a href="#">Home Theatre</a> <a href="#">Home Security</a> <a href="#">Home Automation</a>
            </div>

        </div>
        <div class="row">
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <div class="sale_lable">SALE</div>
                    <a href="listing.html"><img src="../Content/images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="#"><img src="../Content/images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <div class="sale_lable">SALE</div>
                    <a href="#"><img src="../Content/images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="#"><img src="../Content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>
                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="listing.html"><img src="../Content/images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="#"><img src="../Content/images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="#"><img src="../Content/images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="listing.html">Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>

                    </ul>


                </div>
            </div>
            <!--product_box_end-->
            <!--product_box-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="product_list">
                    <a href="#"><img src="../Content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                    <div class="product_detail_box">
                        <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                        <div class="star_list">
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star active"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p class="product_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                    <ul class="price_box row">
                        <li>
                            <span><i class="fa fa-rupee"></i> 85,000/-</span>
                            <i class="fa fa-rupee"></i> 70,000/-

                        </li>
                        <li class="text-center"><a href="#"><img src="../Content/images/icon/cart.png"></a> </li>
                    </ul>


                </div>
            </div>
            <!--product_box_end-->

        </div>

        <div class="btn_box text-center">
            <a href="listing.html" class="blue_btn btn_min_width"> View All Products </a>
        </div>
</section>
<!--popular_prodiucts_section_End -->