
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--innre_page_section_Start -->
<section class="inner_page_section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Products Calculator</h2>
        </div>
        <div class="calculator_box">
            <!--product_tab_section-->
            <div class="tab_section">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs responsive" role="tablist">
                    <li role="presentation" class="active"><a href="#Living_Room" aria-controls="Living_Room" role="tab" data-toggle="tab">Living Room <span>(1)</span></a></li>
                    <li role="presentation" class=""><a href="#Bed_Room" aria-controls="Bed_Room" role="tab" data-toggle="tab">Bed Room <span>(2)</span></a></li>
                    <li role="presentation" class="disabled"><a href="#Kitchen" aria-controls="Kitchen" role="tab" data-toggle="tab">Kitchen <span>(1)</span></a></li>
                    <li role="presentation" class="disabled"><a href="#Study_Room" aria-controls="Study_Room" role="tab" data-toggle="tab">Study Room <span>(1)</span></a></li>
                    <li role="presentation" class="disabled"><a href="#TV_Room" aria-controls="TV_Room" role="tab" data-toggle="tab">TV Room <span>(1)</span></a></li>
                    <li role="presentation" class="disabled"><a href="#Dinning_Area" aria-controls="Dinning_Area" role="tab" data-toggle="tab">Dinning Area <span>(1)</span></a></li>
                    <li role="presentation" class="disabled"><a href="#Wash_Room" aria-controls="Wash_Room" role="tab" data-toggle="tab">Wash Room <span>(2)</span></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content responsive">
                    <!--Living_Room tab-->
                    <div role="tabpanel" class="tab-pane fade in active" id="Living_Room">
                        <div class="sorting_filter"> <a href="#" class="active">All</a> <a href="#">Lights On/Off</a> <a href="#">Lights Dimmer</a> <a href="#">RGB Control</a> <a href="#">Fan</a> <a href="#">AC On/Off</a> <a href="#">Curtain Roller Shutter</a> <a href="#">Motion Sensor</a> </div>
                        <div class="row">
                            <!--left_part-->
                            <div class="col-xs-12 col-sm-7 col-md-8">
                                <div class="row">
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img1" type="checkbox">
                                                    <label for="img1"><img src="images/product_image/pro-9.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->
                                            <div class="product_detail_box">
                                                <h1><a href="#">yeelight Blue II Smart Bulb</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img2" type="checkbox">
                                                    <label for="img2"><img src="images/product_image/pro-9.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->
                                            <div class="product_detail_box">
                                                <h1><a href="#">yeelight Blue II Smart Bulb</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img3" type="checkbox">
                                                    <label for="img3"><img src="images/product_image/pro-10.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Starter Kit with 10W E27 bulb...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 12,489/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img4" type="checkbox">
                                                    <label for="img4"><img src="images/product_image/pro-11.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Go (White Ambiance, Color...)</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 5,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img5" type="checkbox">
                                                    <label for="img5"><img src="images/product_image/pro-12.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Amicikart PIR Motion Sensor Night Light...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 399/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img6" type="checkbox">
                                                    <label for="img6"><img src="images/product_image/pro-9.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->
                                            <div class="product_detail_box">
                                                <h1><a href="#">yeelight Blue II Smart Bulb</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img7" type="checkbox">
                                                    <label for="img7"><img src="images/product_image/pro-9.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->
                                            <div class="product_detail_box">
                                                <h1><a href="#">yeelight Blue II Smart Bulb</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img8" type="checkbox">
                                                    <label for="img8"><img src="images/product_image/pro-10.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Starter Kit with 10W E27 bulb...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 12,489/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img9" type="checkbox">
                                                    <label for="img9"><img src="images/product_image/pro-11.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Go (White Ambiance, Color...)</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 5,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img10" type="checkbox">
                                                    <label for="img10"><img src="images/product_image/pro-10.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Starter Kit with 10W E27 bulb...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 12,489/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img11" type="checkbox">
                                                    <label for="img11"><img src="images/product_image/pro-11.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Go (White Ambiance, Color...)</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 5,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img12" type="checkbox">
                                                    <label for="img12"><img src="images/product_image/pro-12.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Amicikart PIR Motion Sensor Night Light...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 399/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img13" type="checkbox">
                                                    <label for="img13"><img src="images/product_image/pro-11.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Go (White Ambiance, Color...)</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 5,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img14" type="checkbox">
                                                    <label for="img14"><img src="images/product_image/pro-10.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Starter Kit with 10W E27 bulb...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 12,489/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img15" type="checkbox">
                                                    <label for="img15"><img src="images/product_image/pro-11.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Philips Hue Go (White Ambiance, Color...)</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 5,999/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->
                                    <!--product_box-->
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product_list">
                                            <!--procuct_img-->
                                            <div class="prduct_img_box">
                                                <div class="checkbox checkbox-common">
                                                    <input id="img16" type="checkbox">
                                                    <label for="img16"><img src="images/product_image/pro-12.jpg" title="img" alt="img" class="img-responsive product_img"></label>
                                                </div>
                                            </div>
                                            <!--procuct_img-->

                                            <div class="product_detail_box">

                                                <h1><a href="#">Amicikart PIR Motion Sensor Night Light...</a></h1>
                                            </div>
                                            <ul class="price_box row">
                                                <li> <i class="fa fa-rupee"></i> 399/- </li>
                                                <li class="text-center"><a href="#"><img src="images/icon/add_to_calculator.png"></a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--product_box_end-->


                                </div>


                            </div>
                            <!--left_part_end-->
                            <!--right_part-->
                            <div class="col-xs-12 col-sm-5 col-md-4">
                                <div class="cart_box_outer">
                                    <div class="cart_container clearfix">
                                        <div class="small-header">
                                            <h2 class="section-title">Selected Products</h2>
                                        </div>
                                        <!--item_list-->
                                        <div class="item_list">
                                            <div class="img_box">
                                                <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                            </div>
                                            <div class="item_detail">
                                                <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                                <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                                <ul class="price_box clearfix">
                                                    <li>
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label for="qty">QTY:</label>
                                                                <select name="qty" id="qty" class="form-control select_dropdown">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </li>
                                                    <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item_list_end-->
                                        <!--item_list-->
                                        <div class="item_list">
                                            <div class="img_box">
                                                <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                            </div>
                                            <div class="item_detail">
                                                <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                                <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                                <ul class="price_box clearfix">
                                                    <li>
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label for="qty">QTY:</label>
                                                                <select name="qty" id="qty" class="form-control select_dropdown">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </li>
                                                    <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item_list_end-->
                                        <!--item_list-->
                                        <div class="item_list">
                                            <div class="img_box">
                                                <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                            </div>
                                            <div class="item_detail">
                                                <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                                <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                                <ul class="price_box clearfix">
                                                    <li>
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label for="qty">QTY:</label>
                                                                <select name="qty" id="qty" class="form-control select_dropdown">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </li>
                                                    <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item_list_end-->
                                        <!--item_list-->
                                        <div class="item_list">
                                            <div class="img_box">
                                                <a href="#"><img src="images/product_image/pro-12.jpg" class="img-responsive product_img"></a>
                                            </div>
                                            <div class="item_detail">
                                                <a class="remove_icon" href="#"><i class="fa fa-trash-o"></i></a>
                                                <div class="item_name">yeelight Blue II Smart Bulb...</div>
                                                <ul class="price_box clearfix">
                                                    <li>
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label for="qty">QTY:</label>
                                                                <select name="qty" id="qty" class="form-control select_dropdown">
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </li>
                                                    <li> <i class="fa fa-rupee"></i> 1,999/- </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--item_list_end-->


                                    </div>
                                    <div class="total_box clearfix">
                                        <ul class="clearfix">
                                            <li>Tatal Payable</li>
                                            <li><i class="fa fa-rupee"></i> 20,999/-</li>
                                        </ul>
                                        <p>Prices are inclusive of all taxes</p>
                                    </div>
                                </div>

                                <div class="btn_box m-0">
                                    <a type="submit" href="shoping_cart.html" class="blue_btn btn-block">Save And Next</a>
                                </div>

                                <!--totle_cart_value-->
                                <div class="cart_box_outer">
                                    <div class="cart_container clearfix">
                                        <div class="small-header">
                                            <h2 class="section-title">Tatal Cart Value</h2>
                                        </div>

                                        <div class="section_cost_box clearfix">
                                            <ul class="clearfix">
                                                <li>Tatal Payable</li>
                                                <li><i class="fa fa-rupee"></i> 20,999/-</li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="total_box clearfix">
                                        <ul class="clearfix">
                                            <li>Tatal Payable</li>
                                            <li><i class="fa fa-rupee"></i> 20,999/-</li>
                                        </ul>
                                        <p>Prices are inclusive of all taxes</p>
                                    </div>
                                </div>
                                <!--totle_cart_value_end-->
                            </div>
                            <!--right_part_end-->

                        </div>
                    </div>
                    <!--Living_Room tab-->
                    <!--Bed_Room tab-->
                    <div role="tabpanel" class="tab-pane fade" id="Bed_Room"> 2 </div>
                    <!--Bed_Room tab-->
                    <!--Kitchen tab-->
                    <div role="tabpanel" class="tab-pane fade" id="Kitchen"> 3 </div>
                    <!--Kitchen tab-->
                    <!--Study_Room tab-->
                    <div role="tabpanel" class="tab-pane fade" id="Study_Room"> 4 </div>
                    <!--Study_Room tab-->
                    <!--TV_Room tab-->
                    <div role="tabpanel" class="tab-pane fade" id="TV_Room"> 5 </div>
                    <!--TV_Room tab-->
                    <!--Dinning_Area tab-->
                    <div role="tabpanel" class="tab-pane fade" id="Dinning_Area"> 7 </div>
                    <!--Dinning_Area tab-->
                    <!--Wash_Room tab-->
                    <div role="tabpanel" class="tab-pane fade" id="Wash_Room"> 7 </div>
                    <!--Wash_Room tab-->

                </div>
            </div>
            <!--product_detail_tab_section-->
        </div>

    </div>
    <input type="hidden" id="hdcategory" value=""/>
    <input type="hidden" id="hdbrands" value="" />
</section>
<!--innre_page_section_Start_end --> 