@{
    Layout = "~/Views/Shared/_Static.cshtml";
    ViewBag.Title = "About";
    ViewBag.PageLink = "<li class='active'>About</li>";
}

<section class="inner_page_section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">@ViewBag.Title</h2>
        </div>

        <div class="content_box">
            <p>
                Homeautomation is one of the India’s largest growing home automation retailers. With over a decade of experience in automating homes we now specialise in customised home theatres, Home Networking – complete Wi-Fi set up and home automation- wireless and wired.
            </p>

            <p>
                Our team of product specialists strive to deliver the newest cutting-edge products at the best possible prices.
            </p>
            <p>
                Home automation distributes products of Fibaro, which provide a smart technology. Fibaro products are affordable, easy-to-program devices that communicate over your home's existing wiring and over radio-frequency signals.
            </p>
        </div>
    </div>
</section>