
@{
    ViewBag.Title = "Index";

}

<section class="inner_page_section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Our Products</h2>
            <div class="sorting_filter"> <a href="#" class="active">All</a> <a href="#">Home Theatre</a> <a href="#">Home Security</a> <a href="#">Home Automation</a> </div>
        </div>
        <div class="row">
            <!--left_part-->
            <div class="col-xs-12 col-sm-4 col-md-3 web_filter">
                <div class="side_filters">
                    <div class="category_box">
                        <h1>Categories</h1>
                        <div class="scrollbar_box mCustomScrollbar" data-mcs-theme="dark" style="">
                            <ul>
                                <li class="checkbox checkbox-common">
                                    <input id="HomeTheatre" type="checkbox">
                                    <label for="HomeTheatre"> Home Theatre  (87)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="HomeSecurity" type="checkbox">
                                    <label for="HomeSecurity"> Home Security (2)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="HomeAutomation" type="checkbox">
                                    <label for="HomeAutomation">Home Automation (40)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Sound" type="checkbox">
                                    <label for="Sound"> Sound (37)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="AccessControl" type="checkbox">
                                    <label for="AccessControl"> Access Control (11)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="WirelessProducts" type="checkbox">
                                    <label for="WirelessProducts"> Wireless Products (16)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Test" type="checkbox">
                                    <label for="Test"> Test 2</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Test" type="checkbox">
                                    <label for="Test"> Test 3</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <hr>

                    <div class="category_box">
                        <h1>By Brand</h1>
                        <div class="scrollbar_box mCustomScrollbar" data-mcs-theme="dark" style="">
                            <ul>
                                <li class="checkbox checkbox-common">
                                    <input id="Sony" type="checkbox">
                                    <label for="Sony"> Sony (52)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Philips" type="checkbox">
                                    <label for="Philips"> Philips (25)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Epson" type="checkbox">
                                    <label for="Epson"> Epson (54)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="JVC" type="checkbox">
                                    <label for="JVC"> JVC (34)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Onkyo" type="checkbox">
                                    <label for="Onkyo"> Onkyo (40)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="Pioneer" type="checkbox">
                                    <label for="Pioneer"> Pioneer (20)</label>
                                </li>
                                <li class="checkbox checkbox-common">
                                    <input id="b_w" type="checkbox">
                                    <label for="b_w"> B&amp;W (80)</label>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <hr>

                    <div class="category_box">
                        <h1>Price</h1>
                        <div>

                            <input type="text" id="price_range" value="" name="price_range" />
                        </div>
                    </div>

                </div>

                <div class="mt-20">
                    <img src="../content/images/drive_your_own_choice_ad.png" alt="Drive Your Own Choice" class="img-responsive">
                </div>


            </div>
            <!--left_part_end-->
            <!--right_part-->
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row">
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <div class="sale_lable">SALE</div>
                            <a href="product_details.html"><img src="../content/images/product_image/pro-1.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="product_details.html">Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="product_details.html"><img src="../content/images/product_image/pro-2.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="product_details.html">Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <div class="sale_lable">SALE</div>
                            <a href="product_details.html"><img src="../content/images/product_image/pro-3.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="product_details.html">Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->
                    <!--product_box-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product_list">
                            <a href="#"><img src="../content/images/product_image/pro-5.jpg" class="img-responsive product_img"></a>
                            <div class="product_detail_box">
                                <div class="wishlist_icon"><a href="#"><i class="fa fa-heart"></i></a></div>
                                <h1><a href="#">Intercom FGIC-001 Intercom FGIC-001</a></h1>
                                <div class="star_list"> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star-o"></i> </div>
                                <p class="product_info"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                            <ul class="price_box row">
                                <li> <span><i class="fa fa-rupee"></i> 85,000/-</span> <i class="fa fa-rupee"></i> 70,000/- </li>
                                <li class="text-center"><a href="#"><img src="../content/images/icon/cart.png"></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--product_box_end-->

                </div>
                <div class="btn_box text-right">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!--<a href="#" class="blue_btn btn_min_width"> View All Products </a>-->
                </div>
            </div>
        </div>
    </div>
</section>

