<!--Footer Section Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h5>
                    <a role="button" data-toggle="collapse" href="#footer_col_1" aria-expanded="false" aria-controls="collapseExample">
                        Site Link <span class="fa fa-angle-down pull-right"></span>
                    </a>
                </h5>
                <ul class="collapse" id="footer_col_1">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <!--<li><a href="#">Testimonials</a></li>-->
                    <li><a href="#">Contact Us</a></li>
                    <!--<li><a href="#">Blog</a></li>-->
                    <!--<li><a href="#">Careers</a></li>-->
                    <!--<li><a href="#">Press &amp; Media</a></li>-->
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>
                    <a role="button" data-toggle="collapse" href="#footer_col_2" aria-expanded="false" aria-controls="collapseExample">
                        Products <span class="fa fa-angle-down pull-right"></span>
                    </a>
                </h5>
                <ul class="collapse" id="footer_col_2">
                    <li><a href="#"> Home Theater</li>
                    <li><a href="#">Home Security</li>
                    <li><a href="#">Network Video Recorder</li>
                    <li><a href="#">Network Cameras</li>
                    <li><a href="#">Sensors</li>
                    <li><a href="#">Home Automation</li>
                    <li><a href="#">Curtain Control</li>
                </ul>
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>
                    <a role="button" data-toggle="collapse" href="#footer_col_3" aria-expanded="false" aria-controls="collapseExample">
                        Customer Services <span class="fa fa-angle-down pull-right"></span>
                    </a>
                </h5>
                <ul class="collapse" id="footer_col_3">
                    <!--<li><a href="#">Need Help? Service Request</a></li>
                    <li><a href="#">How to Order</a></li>
                    <li><a href="#">Track your Package</a></li>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>-->
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">

                <h5 style="border:none;">
                    <a role="button" data-toggle="collapse" href="#footer_col_5" aria-expanded="false" aria-controls="collapseExample">
                        Contact Us<span class="fa fa-angle-down pull-right"></span>
                    </a>
                </h5>
                <div class="contact_detail_box collapse" id="footer_col_5">
                    <div class="address_section">
                        <h6>Noida Office</h6>
                        <p>The Home Store, Opp Pathways School, Sector 104, Noida, India.</p>
                    </div>

                    <div class="address_section">
                        <h6>Gurgaon Office</h6>
                        <p>811 , Sector 42 – Gurgaon</p>
                    </div>

                    <div class="address_section">
                        <h6>Panipat Office</h6>
                        <p>195-R Model Town panipat 132103, India.</p>
                        <span class=""><i class="fa fa-mobile"></i> 9958231280</span> <span class=""><i class="fa fa-envelope-o"></i> sale@smarthomesolution.in</span>
                    </div>


                </div>

            </div>
        </div>
        <div class="paymet_box">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-5"> <h3>Paymet Mode</h3></div>
                    <div class="col-xs-12 col-sm-8 col-md-7"><img src="../Content/images/cards.png" class="img-responsive"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="fotter_info">
        <div class="container">
            <div class="row">
                <!-- Footer Links -->
                <div class="col-md-5 col-sm-4 col-xs-12">
                    <div class="footer-links">
                        <p> &copy; 2018 <span>www.smarthomesolution.in</span> All Right Reversed.</p>
                    </div>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="social-icons">
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="copyright">
                        <p> Powered by : <a target="_blank" href="#">Smart Home Solution</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer Section End -->
